#productBody {
    margin-left: 3%;
  }
  
  #productBody .product,
  .order {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  #btn{
    align-items: center;
    position: relative;
    
  }